/* default browser reset */
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    /* css defined reusable variables for consistency */
    --color-white: #fff;
    --color-black: #000;

    --default-font-color: var(--color-black);
}

body {
    width: 100%;

    font-family: sans-serif;

}

header,
main,
footer {
    width: 100%;
}